.boxes {
    width: 120px;
    height: 70px;
}

.box-top {
    background-color: DeepSkyBlue;
    position: static;
}

.box-bottom {
    background-color: greenyellow;
    position: relative;
    top: 20px;
    left: 50px;
}  

.box-top-z-index {
    background-color: red;
    position: relative;
    z-index: 2;
  }
   
.box-bottom-z-index {
    text-align: center;
    background-color: yellow;
    position: absolute;
    /*top: 550px;*/
    z-index: 1;
}

.container {
    display: flex;
    width: 100%;
    height: 100px;        
    background-color: whitesmoke;
}

.container div {    
    background-color: dodgerblue;
    border: 1px solid lightgrey;
}

.container.flexstart {
    justify-content: flex-start;
}

.container.flexend {
    justify-content: flex-end;
}

.container.center {
    justify-content: center;
}

.container.spacebetween {
    justify-content: space-between;
}

.container.spacearound {
    justify-content: space-around;
}
