
<section class="modal-cookie" [hidden]="hide">
    <p class="modal-title">Your privacy</p>
    <p class="modal-description">
        By clicking “Accept all cookies”, you agree Stack Exchange can store cookies on your device and disclose information in accordance with our 
        <a href="">Cookie Policy</a>.
    </p>
    <button class="btn btn-primary btn-block accept" (click)="toogleHide()">Accept all cookies</button>
    <button class="btn btn-light btn-block custom" (click)="toogleHide()">Customize settings</button>
</section>