<section class="row justify-content-center">

    <div class="col-sm-5">

        <div>
            <h3>Data Driven Form - Reactive</h3>

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <article>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" formControlName="name" required>
                        <error-msg [control]="formulario.get('name')" label="Nome"></error-msg>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="text" id="email" formControlName="email" placeholder="seunome@email.com" required>

                        <!--
                        <app-field-control-error [showError]="fieldRequired('email')"
                            [msgError]="fieldRequiredMsg('email')"></app-field-control-error>
                        <app-field-control-error [showError]="fieldHasError('email')"
                            [msgError]="fieldRequiredMsg('email')"></app-field-control-error>
                        -->
                        <error-msg [control]="formulario.get('email')" label="Email"></error-msg>

                        <app-field-control-error [showError]="formulario.get('email').status === 'PENDING'"
                            msgError="Validando email" alertColor="INFO"></app-field-control-error>
                        <app-field-control-error alertColor="INFO" [showError]="formulario.get('email').status === 'VALID'"
                            msgError="Email valido"></app-field-control-error>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="conf-email">Confirmar email</label>
                      <input class="form-control" type="text" id="conf-email" formControlName="emailConfirmation" placeholder="seunome@email.com" required>
                      <app-field-control-error [showError]="fieldRequired('emailConfirmation')"
                          [msgError]="fieldRequiredMsg('emailConfirmation')"></app-field-control-error>
                          <app-field-control-error [showError]="fieldHasError('emailConfirmation')"
                          [msgError]="fieldRequiredMsg('emailConfirmation')"></app-field-control-error>
                      <app-field-control-error [showError]="!fieldRequired('emailConfirmation') && formulario.get('emailConfirmation').hasError('equalsTo')"
                          msgError="A confirmação do email não condiz com o email "></app-field-control-error>
                  </div>
                </article>

                <article formGroupName="endereco">
                    <div class="row">
                      <div class="input-group mb-3">
                          <input class="form-control" placeholder="CEP" type="string" id="cep" formControlName="cep" required>
                          <button type="button" class="btn btn-outline-secondary material-icons" (click)="getCep()">search</button>
                      </div>
                      <app-field-control-error [showError]="fieldRequired('endereco.cep')"
                        [msgError]="fieldRequiredMsg('endereco.cep')"></app-field-control-error>
                      <app-field-control-error [showError]="formulario.get('endereco.cep').hasError('cepInvalido')"
                        msgError="Cep inválido"></app-field-control-error>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="rua">Rua</label>
                            <input class="form-control" type="string" id="rua" formControlName="rua">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <label class="form-label" for="bairro">Bairro</label>
                            <input class="form-control" type="string" id="bairro" formControlName="bairro">
                        </div>
                        <div class="col-sm">
                            <label class="form-label" for="estado">Estado</label>
                            <select class="form-select" aria-label="Default select state" formControlName="estado">
                                <option *ngFor="let state of $states | async" [value]="state.sigla">{{state.sigla}}</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <label class="form-label" for="cidade">Cidade</label>
                            <select id="cidade" class="form-select" aria-label="Default select state" formControlName="cidade">
                                <option *ngFor="let citie of cities" [value]="citie.nome">{{citie.nome}}</option>
                            </select>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <label class="form-label" for="numero">Numero</label>
                              <input class="form-control" type="number" id="numero" formControlName="numero">
                          </div>
                          <div class="col-sm-6">
                              <label class="form-label" for="complemento">Complemento</label>
                              <input class="form-control" type="string" id="complemento" formControlName="complemento">
                          </div>
                      </div>
                 </article>

                <div class="row">
                  <label class="form-label">Frameworks</label>
                  <div formArrayName="frameworks">
                    <div *ngFor="let item of frameworksAsArray().controls; let i = index"
                      class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" [formControlName]="i">{{frameworksLabels[i]}}
                    </div>
                    <app-field-control-error [showError]="fieldHasError('frameworks')"
                      [msgError]="fieldRequiredMsg('frameworks')"></app-field-control-error>
                  </div>
                </div>

                <div class="buttons d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-success" [disabled]="!formulario.valid">Submit</button>
                    <button type="button" class="btn btn-outline-primary" (click)="formulario.reset()">New</button>
                </div>
            </form>
        </div>

    </div>
    <app-form-debug [form]="formulario" class="col-sm-5"></app-form-debug>
</section>
