<section class="row justify-content-center">
    
    <div class="col-5">
        
        <div [hidden]="submitted">
            <h3>Hero Form</h3>

            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" required [(ngModel)]="model.name" name="name"
                        #name="ngModel">
                    <app-field-control-error [showError]="fieldHasError(name)" [msgError]="fieldRequiredMsg(name)"></app-field-control-error>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="alterEgo">Alter ego</label>
                    <input [(ngModel)]="model.alterEgo" class="form-control" type="text" id="alterEgo" name="alterEgo">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="power">Hero Power</label>
                    <select [(ngModel)]="model.power" class="form-control" id="power" class="form-select" name="power"
                        required #power="ngModel">
                        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                        <app-field-control-error [showError]="fieldHasError(power)" [msgError]="fieldRequiredMsg(power)"></app-field-control-error>
                    </select>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label" for="cep">CEP</label>
                        <input [(ngModel)]="model.endereco.cep" class="form-control" type="string" id="cep" name="cep" required 
                        #cep="ngModel"
                        (blur)="getCep()">
                        <app-field-control-error [showError]="fieldHasError(cep)" [msgError]="fieldRequiredMsg(cep)"></app-field-control-error>
                    </div>
                    <div class="col">
                        <label class="form-label" for="numero">Numero</label>
                        <input [(ngModel)]="model.endereco.numero" class="form-control" type="number" id="numero" name="numero">
                    </div>
                    <div class="col">
                        <label class="form-label" for="complemento">Complemento</label>
                        <input [(ngModel)]="model.endereco.complemento" class="form-control" type="string" id="complemento" name="complemento">
                    </div>                    
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label" for="rua">Rua</label>
                        <input [(ngModel)]="model.endereco.rua" class="form-control" type="string" id="rua" name="rua" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label" for="bairro">Bairro</label>
                        <input [(ngModel)]="model.endereco.bairro" class="form-control" type="string" id="bairro" name="bairro" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="cidade">Cidade</label>
                        <input [(ngModel)]="model.endereco.cidade" class="form-control" type="string" id="cidade" name="cidade" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="estado">Estado</label>
                        <input [(ngModel)]="model.endereco.estado" class="form-control" type="string" id="estado" name="estado" disabled>
                    </div>                    
                </div>                
                                
                <div class="buttons d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="submit" class="btn btn-outline-success" [disabled]="!heroForm.form.valid">Submit</button>
                    <button type="button" class="btn btn-outline-primary" (click)="newHero(); heroForm.reset()">New Hero</button>
                </div>
            </form>
        </div>    

    </div>
    <app-form-debug [form]="heroForm"  class="col-5"></app-form-debug>
</section>

